@model IEnumerable<String>
<div class="btn-group btn-group-sm btn-group-justified">
    @Html.ActionLink("Home", "List", "Product", new { @class="btn btn-default btn-sm"})
    @foreach(var link in Model)
    {
        @Html.RouteLink(link,new {
       Controller="Product",
       action="List",
       category=link,
       page=1
   },new {
       @class="btn btn-default btn-sm"
   +(link==ViewBag.SelectedCategory?"btn-primary":"")})
    }
</div>
